
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/express-favicon.png" type="image/x-icon" />

    <title></title>


    <link href="~/ThemesCss/RedcayenneCss/vendors/material-icon/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="~/ThemesCss/RedcayenneCss/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/ThemesCss/RedcayenneCss/vendors/linears-icon/style.css" rel="stylesheet">

    <link href="~/ThemesCss/RedcayenneCss/css/bootstrap.min.css" rel="stylesheet">


    <link href="~/ThemesCss/RedcayenneCss/vendors/bootstrap-selector/bootstrap-select.css" rel="stylesheet">
    <link href="~/ThemesCss/RedcayenneCss/vendors/bootatrap-date-time/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="~/ThemesCss/RedcayenneCss/vendors/owl-carousel/assets/owl.carousel.css" rel="stylesheet">

    <link href="~/ThemesCss/RedcayenneCss/css/style.css" rel="stylesheet">
    <link href="~/ThemesCss/RedcayenneCss/css/responsive.css" rel="stylesheet">
</head>
<body>
    <section class="most_popular_item_area menu_list_page">
        <div class="container">
            <div class="popular_filter">
                <ul>
                    <li class="active" data-filter="*"><a href="">All</a></li>
                    <li data-filter=".break"><a href="">Breakfast</a></li>
                    <li data-filter=".lunch"><a href="">Lunch</a></li>
                    <li data-filter=".dinner"><a href="">Dinner</a></li>
                    <li data-filter=".snacks"><a href="">Snacks</a></li>
                    <li data-filter=".coffee"><a href="">Coffee</a></li>
                </ul>
            </div>
            <div class="p_recype_item_main">
                <div class="row p_recype_item_active">
                    <div class="col-md-6 break snacks">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/recype/recype-1.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#"><h3>Vegetable Flavour</h3></a>
                                <h4>$32</h4>
                                <p>Lorem ipsum dolor sit amets, consectetur adipiscing </p>
                                <a class="read_mor_btn" href="#">Add To Cart</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 break coffee">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/recype/recype-2.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#"><h3>Vegetable Flavour</h3></a>
                                <h4>$32</h4>
                                <p>Lorem ipsum dolor sit amets, consectetur adipiscing </p>
                                <a class="read_mor_btn" href="#">Add To Cart</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 lunch snacks">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/recype/recype-3.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#"><h3>Vegetable Flavour</h3></a>
                                <h4>$32</h4>
                                <p>Lorem ipsum dolor sit amets, consectetur adipiscing </p>
                                <a class="read_mor_btn" href="#">Add To Cart</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 lunch dinner">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/recype/recype-4.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#"><h3>Vegetable Flavour</h3></a>
                                <h4>$32</h4>
                                <p>Lorem ipsum dolor sit amets, consectetur adipiscing </p>
                                <a class="read_mor_btn" href="#">Add To Cart</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 break coffee">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/recype/recype-5.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#"><h3>Vegetable Flavour</h3></a>
                                <h4>$32</h4>
                                <p>Lorem ipsum dolor sit amets, consectetur adipiscing </p>
                                <a class="read_mor_btn" href="#">Add To Cart</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 break coffee">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/recype/recype-6.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#"><h3>Vegetable Flavour</h3></a>
                                <h4>$32</h4>
                                <p>Lorem ipsum dolor sit amets, consectetur adipiscing </p>
                                <a class="read_mor_btn" href="#">Add To Cart</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 lunch coffee">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/recype/recype-7.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#"><h3>Vegetable Flavour</h3></a>
                                <h4>$32</h4>
                                <p>Lorem ipsum dolor sit amets, consectetur adipiscing </p>
                                <a class="read_mor_btn" href="#">Add To Cart</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 dinner snacks">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/recype/recype-8.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#"><h3>Vegetable Flavour</h3></a>
                                <h4>$32</h4>
                                <p>Lorem ipsum dolor sit amets, consectetur adipiscing </p>
                                <a class="read_mor_btn" href="#">Add To Cart</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 lunch coffee">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/recype/recype-7.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#"><h3>Vegetable Flavour</h3></a>
                                <h4>$32</h4>
                                <p>Lorem ipsum dolor sit amets, consectetur adipiscing </p>
                                <a class="read_mor_btn" href="#">Add To Cart</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 dinner snacks">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/recype/recype-8.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#"><h3>Vegetable Flavour</h3></a>
                                <h4>$32</h4>
                                <p>Lorem ipsum dolor sit amets, consectetur adipiscing </p>
                                <a class="read_mor_btn" href="#">Add To Cart</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 dinner coffee">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/recype/recype-9.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#"><h3>Vegetable Flavour</h3></a>
                                <h4>$32</h4>
                                <p>Lorem ipsum dolor sit amets, consectetur adipiscing </p>
                                <a class="read_mor_btn" href="#">Add To Cart</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 dinner coffee">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/recype/recype-10.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#"><h3>Vegetable Flavour</h3></a>
                                <h4>$32</h4>
                                <p>Lorem ipsum dolor sit amets, consectetur adipiscing </p>
                                <a class="read_mor_btn" href="#">Add To Cart</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 dinner coffee">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/recype/recype-9.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#"><h3>Vegetable Flavour</h3></a>
                                <h4>$32</h4>
                                <p>Lorem ipsum dolor sit amets, consectetur adipiscing </p>
                                <a class="read_mor_btn" href="#">Add To Cart</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 dinner coffee">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/recype/recype-10.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#"><h3>Vegetable Flavour</h3></a>
                                <h4>$32</h4>
                                <p>Lorem ipsum dolor sit amets, consectetur adipiscing </p>
                                <a class="read_mor_btn" href="#">Add To Cart</a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






    <script src="~/ThemesCss/RedcayenneCss/js/jquery-2.1.4.min.js"></script>

    <script src="~/ThemesCss/RedcayenneCss/js/bootstrap.min.js"></script>


    <script src="~/ThemesCss/RedcayenneCss/vendors/bootstrap-selector/bootstrap-select.js"></script>
    <script src="~/ThemesCss/RedcayenneCss/vendors/bootatrap-date-time/bootstrap-datetimepicker.min.js"></script>
    <script src="~/ThemesCss/RedcayenneCss/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/ThemesCss/RedcayenneCss/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/ThemesCss/RedcayenneCss/vendors/isotope/isotope.pkgd.min.js"></script>
    <script src="~/ThemesCss/RedcayenneCss/vendors/countdown/jquery.countdown.js"></script>
    <script src="~/ThemesCss/RedcayenneCss/vendors/js-calender/zabuto_calendar.min.js"></script>

    <script src="js/theme.js"></script>
</body>
</html>
