
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">HEADER</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a asp-controller="Home" asp-action="List"><i class="fa fa-link"></i> <span>Kullanıcı Listesi</span></a></li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i><span>Aylık Satışlar</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a asp-action="MonthlySubs" asp-controller="Home">Aylık Satışlar</a></li>
                <li><a>6 Aylık</a></li>
                <li><a>Yıllık</a></li>
                <li><a>Tüm Satışlar</a></li>
            </ul>
        </li>
        <li><a asp-action="SalesmanList" asp-controller="Home"><i class="fa fa-link"></i> <span>Plasiyer Listesi</span></a></li>
        <li><a asp-action="ActivateAccount" asp-controller="Home"><i class="fa fa-check"></i> <span>Hesap Aktifleştir</span></a></li>


        @*<li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span>Multilevel</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#">Link in level 2</a></li>
                <li><a href="#">Link in level 2</a></li>
            </ul>
        </li>*@
    </ul>